# Environment variables & API keys
.env
*.env

# SSL Certificates & Private Keys
*.pem
*.key
*.crt

# Python cache & virtual environment
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.venv/

# Node & Android Build
node_modules/
android/.gradle/
android/app/build/
android/build/
*.apk
*.aab
release-apk/
